### Problem Statement: A cloth manufacturing company is interested to know about the segment or attributes causes high sale.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
#from sklearn import datasets  
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn.metrics import classification_report
from sklearn import preprocessing

In [2]:
company = pd.read_csv('Company_data.csv')

In [3]:
company

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

In [4]:
company['Sales'] = np.where(company['Sales']>=8,'High','Low')

In [5]:
company

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,High,138,73,11,276,120,Bad,42,17,Yes,Yes
1,High,111,48,16,260,83,Good,65,10,Yes,Yes
2,High,113,35,10,269,80,Medium,59,12,Yes,Yes
3,Low,117,100,4,466,97,Medium,55,14,Yes,Yes
4,Low,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,High,138,108,17,203,128,Good,33,14,Yes,Yes
396,Low,139,23,3,37,120,Medium,55,11,No,Yes
397,Low,162,26,12,368,159,Medium,40,18,Yes,Yes
398,Low,100,79,7,284,95,Bad,50,12,Yes,Yes
399,High,134,37,0,27,120,Good,49,16,Yes,Yes

In [6]:
label_encoder = preprocessing.LabelEncoder()
company['ShelveLoc']=label_encoder.fit_transform(company['ShelveLoc'])
company['Urban']=label_encoder.fit_transform(company['Urban'])
company['US']=label_encoder.fit_transform(company['US'])
company['Sales']=label_encoder.fit_transform(company['Sales'])

In [7]:
company

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,0,138,73,11,276,120,0,42,17,1,1
1,0,111,48,16,260,83,1,65,10,1,1
2,0,113,35,10,269,80,2,59,12,1,1
3,1,117,100,4,466,97,2,55,14,1,1
4,1,141,64,3,340,128,0,38,13,1,0
...,...,...,...,...,...,...,...,...,...,...,...
395,0,138,108,17,203,128,1,33,14,1,1
396,1,139,23,3,37,120,2,55,11,0,1
397,1,162,26,12,368,159,2,40,18,1,1
398,1,100,79,7,284,95,0,50,12,1,1
399,0,134,37,0,27,120,1,49,16,1,1

In [8]:
company['Sales'].value_counts()

1    236
0    164
Name: Sales, dtype: int64

In [9]:
array = company.values

In [10]:
array

array([[  0, 138,  73, ...,  17,   1,   1],
       [  0, 111,  48, ...,  10,   1,   1],
       [  0, 113,  35, ...,  12,   1,   1],
       ...,
       [  1, 162,  26, ...,  18,   1,   1],
       [  1, 100,  79, ...,  12,   1,   1],
       [  0, 134,  37, ...,  16,   1,   1]], dtype=int64)

In [11]:
X = array[:,1:]
Y = array[:,0]

In [12]:
# Random Forest Classification
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=100, oob_score=True, max_features=3)
model.fit(X, Y)

RandomForestClassifier(max_features=3, oob_score=True)

In [13]:
# Accuracy 
accuracy = model.score(X, Y)
print(accuracy*100)

100.0

In [14]:
model.estimators_

[DecisionTreeClassifier(max_features=3, random_state=182367469),
 DecisionTreeClassifier(max_features=3, random_state=992890814),
 DecisionTreeClassifier(max_features=3, random_state=602037235),
 DecisionTreeClassifier(max_features=3, random_state=837657579),
 DecisionTreeClassifier(max_features=3, random_state=2047346346),
 DecisionTreeClassifier(max_features=3, random_state=433830082),
 DecisionTreeClassifier(max_features=3, random_state=915774831),
 DecisionTreeClassifier(max_features=3, random_state=1511480986),
 DecisionTreeClassifier(max_features=3, random_state=619820087),
 DecisionTreeClassifier(max_features=3, random_state=1978527815),
 DecisionTreeClassifier(max_features=3, random_state=962873481),
 DecisionTreeClassifier(max_features=3, random_state=2061620150),
 DecisionTreeClassifier(max_features=3, random_state=331069916),
 DecisionTreeClassifier(max_features=3, random_state=1515997200),
 DecisionTreeClassifier(max_features=3, random_state=1838603366),
 DecisionTreeClassifier(max_features=3, random_state=1501774741),
 DecisionTreeClassifier(max_features=3, random_state=784810941),
 DecisionTreeClassifier(max_features=3, random_state=282396639),
 DecisionTreeClassifier(max_features=3, random_state=964816927),
 DecisionTreeClassifier(max_features=3, random_state=1689306133),
 DecisionTreeClassifier(max_features=3, random_state=1499497426),
 DecisionTreeClassifier(max_features=3, random_state=1330140533),
 DecisionTreeClassifier(max_features=3, random_state=1691077023),
 DecisionTreeClassifier(max_features=3, random_state=729232207),
 DecisionTreeClassifier(max_features=3, random_state=200462634),
 DecisionTreeClassifier(max_features=3, random_state=1125662901),
 DecisionTreeClassifier(max_features=3, random_state=2124637353),
 DecisionTreeClassifier(max_features=3, random_state=150527620),
 DecisionTreeClassifier(max_features=3, random_state=1812127425),
 DecisionTreeClassifier(max_features=3, random_state=678046600),
 DecisionTreeClassifier(max_features=3, random_state=99395944),
 DecisionTreeClassifier(max_features=3, random_state=1319345839),
 DecisionTreeClassifier(max_features=3, random_state=1281941088),
 DecisionTreeClassifier(max_features=3, random_state=1930446376),
 DecisionTreeClassifier(max_features=3, random_state=213364228),
 DecisionTreeClassifier(max_features=3, random_state=797682644),
 DecisionTreeClassifier(max_features=3, random_state=624893055),
 DecisionTreeClassifier(max_features=3, random_state=763017927),
 DecisionTreeClassifier(max_features=3, random_state=1543448189),
 DecisionTreeClassifier(max_features=3, random_state=649163294),
 DecisionTreeClassifier(max_features=3, random_state=419378416),
 DecisionTreeClassifier(max_features=3, random_state=1198807523),
 DecisionTreeClassifier(max_features=3, random_state=1874036923),
 DecisionTreeClassifier(max_features=3, random_state=1652252372),
 DecisionTreeClassifier(max_features=3, random_state=142882073),
 DecisionTreeClassifier(max_features=3, random_state=637338459),
 DecisionTreeClassifier(max_features=3, random_state=1529319595),
 DecisionTreeClassifier(max_features=3, random_state=2010842157),
 DecisionTreeClassifier(max_features=3, random_state=2025545781),
 DecisionTreeClassifier(max_features=3, random_state=141844890),
 DecisionTreeClassifier(max_features=3, random_state=491713841),
 DecisionTreeClassifier(max_features=3, random_state=1300830174),
 DecisionTreeClassifier(max_features=3, random_state=1699464394),
 DecisionTreeClassifier(max_features=3, random_state=1184699482),
 DecisionTreeClassifier(max_features=3, random_state=1705609947),
 DecisionTreeClassifier(max_features=3, random_state=339002409),
 DecisionTreeClassifier(max_features=3, random_state=752712525),
 DecisionTreeClassifier(max_features=3, random_state=1915981240),
 DecisionTreeClassifier(max_features=3, random_state=374258222),
 DecisionTreeClassifier(max_features=3, random_state=560554168),
 DecisionTreeClassifier(max_features=3, random_state=950340462),
 DecisionTreeClassifier(max_features=3, random_state=1124682153),
 DecisionTreeClassifier(max_features=3, random_state=188623549),
 DecisionTreeClassifier(max_features=3, random_state=1062785132),
 DecisionTreeClassifier(max_features=3, random_state=702518444),
 DecisionTreeClassifier(max_features=3, random_state=921230479),
 DecisionTreeClassifier(max_features=3, random_state=2041182797),
 DecisionTreeClassifier(max_features=3, random_state=972894962),
 DecisionTreeClassifier(max_features=3, random_state=1394462025),
 DecisionTreeClassifier(max_features=3, random_state=1787097696),
 DecisionTreeClassifier(max_features=3, random_state=1936287448),
 DecisionTreeClassifier(max_features=3, random_state=1625633750),
 DecisionTreeClassifier(max_features=3, random_state=652148789),
 DecisionTreeClassifier(max_features=3, random_state=1067190597),
 DecisionTreeClassifier(max_features=3, random_state=1155333542),
 DecisionTreeClassifier(max_features=3, random_state=782399732),
 DecisionTreeClassifier(max_features=3, random_state=755861528),
 DecisionTreeClassifier(max_features=3, random_state=686800472),
 DecisionTreeClassifier(max_features=3, random_state=1847246599),
 DecisionTreeClassifier(max_features=3, random_state=1744836317),
 DecisionTreeClassifier(max_features=3, random_state=1276804104),
 DecisionTreeClassifier(max_features=3, random_state=1733704535),
 DecisionTreeClassifier(max_features=3, random_state=1814302112),
 DecisionTreeClassifier(max_features=3, random_state=555739521),
 DecisionTreeClassifier(max_features=3, random_state=1082619324),
 DecisionTreeClassifier(max_features=3, random_state=211689876),
 DecisionTreeClassifier(max_features=3, random_state=904377597),
 DecisionTreeClassifier(max_features=3, random_state=977260457),
 DecisionTreeClassifier(max_features=3, random_state=2134272163),
 DecisionTreeClassifier(max_features=3, random_state=710577216),
 DecisionTreeClassifier(max_features=3, random_state=1699246186),
 DecisionTreeClassifier(max_features=3, random_state=1188028236),
 DecisionTreeClassifier(max_features=3, random_state=258832836),
 DecisionTreeClassifier(max_features=3, random_state=965401841),
 DecisionTreeClassifier(max_features=3, random_state=1916067182),
 DecisionTreeClassifier(max_features=3, random_state=2023943607),
 DecisionTreeClassifier(max_features=3, random_state=1109572620),
 DecisionTreeClassifier(max_features=3, random_state=184148883),
 DecisionTreeClassifier(max_features=3, random_state=225144853),
 DecisionTreeClassifier(max_features=3, random_state=1840118114)]

In [15]:
model.oob_score_

0.8175

In [16]:
model.classes_

array([0, 1], dtype=int64)

In [17]:
company['Sales_pred']=model.predict(X)
company[['Sales','Sales_pred']]

     Sales  Sales_pred
0        0           0
1        0           0
2        0           0
3        1           1
4        1           1
..     ...         ...
395      0           0
396      1           1
397      1           1
398      1           1
399      0           0

[400 rows x 2 columns]

In [18]:
company['Sales_pred'].value_counts()

1    236
0    164
Name: Sales_pred, dtype: int64

In [19]:
pd.crosstab(company['Sales'],company['Sales_pred'])

Sales_pred    0    1
Sales
0           164    0
1             0  236

In [20]:
# Confusion Matrix for the model accuracy
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(company['Sales'],company['Sales_pred'])
confusion_matrix

array([[164,   0],
       [  0, 236]], dtype=int64)

In [21]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import AdaBoostClassifier

In [22]:
# Bagging
kfold = KFold(n_splits=10, random_state=7, shuffle=True)
cart = DecisionTreeClassifier()
model1 = BaggingClassifier(base_estimator=cart, n_estimators=100, random_state=7)
results1 = cross_val_score(model1, X, Y, cv=kfold)
print(results1.mean()*100)

81.0

In [23]:
# AdaBoost Classification
num_trees = 100
kfold = KFold(n_splits=10, random_state=7,shuffle=True)
model2 = AdaBoostClassifier(n_estimators=num_trees, random_state=7)
results2 = cross_val_score(model2, X, Y, cv=kfold)
print(results2.mean()*100)

88.25